/** ALL - GUI **/
* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif!important;
}

html {
    overflow: hidden;
}

a {
    text-decoration: none;
}

.btn {
    border: 1px solid #C72956;
    border-radius: 28px;
    padding: 10px 0;
}

.btn-red {
    background-color: #C72956;
    color: #FFFFFF;
}

.btn-red:hover {
    color: #FFFFFF;
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}

.btn-white {
    background-color: #FFFFFF;
    color: #C72956;
}

.btn-white:hover {
    color: #C72956;
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}

.title-co {
    color: #C72956;
    font-weight: 700;
}

.input-co {
    border: none;
    border-bottom: 1px solid #C72956;
    width: 100%;
    margin: 5% 0;
}

.select-co {
    border: none;
    border-bottom: 1px solid #C72956;
}

.bold {
    font-weight: 700;
}

.hidden {
    display: none;
}

.cta-link {
    color: #C72956;
    font-size: 14px;
    font-weight: 700;
}

.cta-link:hover {
    color: #C72956;
}

.delay-1 {
    animation-delay: .25s;
}
.delay-2 {
    animation-delay: .5s;
}
.delay-3 {
    animation-delay: .75s;
}
.delay-4 {
    animation-delay: 1s;
}


/** MEDIA QUERIES **/
/* Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) {
    /** ALL - GUI **/
    h1 {
        font-weight: 500;
        font-size: 19px;
        color: #FFFFFF;
    }

    p {
        font-size: 11px;
        color: #000000;
    }

    .btn {
        width: 80%;
        margin-top: 6%;
    }


    .logo {
        margin-top: 10%;
    }

    .avatar {
        float: right;
        width: 6%;
        margin-top: 8%;
    }

    .card-number {
        flex: initial;
        max-width: 90%;
        background-color: #FFFFFF;
        border-radius: 3px;
        border: 0.2px solid #e5e5e5;
        margin: 5% auto;
        -moz-box-shadow: 2px 2px 4px 0px #eee;
        -webkit-box-shadow: 2px 2px 4px 0px #eee;
        -o-box-shadow: 2px 2px 4px 0px #eee;
        box-shadow: 2px 2px 4px 0px #eee;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#eee, Direction=134, Strength=4);
    }

    .display-none-mobile {
        display: none;
    }

    .display-none-pc {
        display: block;
    }

    #menuToggle
    {
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input
    {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #navToggle
    {
        position: absolute;
        width: 100vw;
        height: 95vh;
        padding: 50px;
        right: -50px;
        bottom: 50px;

        background: linear-gradient(357.07deg, #fbc683, #e394aa);
        background: #e394aa; /* Old browsers */
        background: -moz-linear-gradient(357.07deg, #fbc683, #e394aa); /* FF3.6-15 */
        background: -webkit-linear-gradient(357.07deg, #fbc683, #e394aa); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(357.07deg, #fbc683, #e394aa); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(100%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #navToggle li
    {
        display: block;
        text-align: left;
    }

    #navToggle a
    {
        font-size: 15px;
        color: #F2F2F2;
        font-weight: 400!important;
    }

    /*
     * And let's fade it in from the left
     */
    #menuToggle input:checked ~ ul
    {
        transform: scale(1.0, 1.0);
        opacity: 1;
    }

    .menu-bar {
        border-bottom: 1px solid #F2F2F2;
        margin: 10% 0;
    }

    /* NAVBAR MOBILE */
    .nav-mobile {
        border-top: 2px solid #C72956;
    }

    .nav-mobile ul {
        margin-bottom: 0;
        margin-top: 1%;
    }

    .nav-mobile ul li {
        list-style: none;
        display: inline-block;
        margin: 0 5%;
    }

    .nav-mobile a {
        color: #7D7D7D;
        font-size: 11px;
        font-weight: 700;
    }

    .nav-mobile a.active {
        color: #FF9700;
    }

    .navmobile-a {
        color: #7D7D7D!important;
        cursor: pointer;
    }

    /* HOME USERS */
    .nav-accueil-one {
        margin: 5% 0;
    }

    .nav-accueil-one .col-12 {
        padding: 0;
    }


    .nav-accueil-one ul {
        margin-bottom: 0!important;
    }

    .nav-accueil-one ul li {
        list-style: none;
        display: inline-block;
        margin-right: 2%;
    }

    .nav-accueil-one a {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 500;
    }

    .msg-bnv {
        font-size: 20px;
        color: #FFFFFF;
        font-weight: 500;
    }

    .carte-poly {
        width: 80%;
    }

    .solde {
        color: #FF9700;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
    }

    .solde-div {
        margin: 2% 0;
    }

    .solde-total {
        font-size: 11px;
        color: #FF9700;
    }

    .dc {
        display: flex;
        justify-content: space-around;
        margin: 3% 0;
    }

    .dc p {
        margin-bottom: 0;
    }

    .card-border {
        border-right: 1px solid #828282;
        height: 35px;
        margin: auto 0;
    }

    .dc-title {
        margin-bottom: 5%;
    }

    .depense-number {
        color: #EB5757;
        font-size: 14px;
        font-weight: 700;
    }

    .cashback-number {
        color: #62AC61;
        font-size: 14px;
        font-weight: 700;
    }

    .cta-a {
        position: absolute;
        bottom: 11%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /** ALL - GUI **/
    h1 {
        font-weight: 500;
        font-size: 19px;
        color: #FFFFFF;
    }

    p {
        font-size: 18px;
        color: #000000;
    }

    .btn {
        width: 80%;
        margin-top: 6%;
    }


    .logo {
        margin-top: 10%;
    }

    .avatar {
        width: 5%;
    }

    .card-number {
        flex: initial;
        max-width: 90%;
        background-color: #FFFFFF;
        border-radius: 3px;
        border: 0.2px solid #e5e5e5;
        margin: 5% auto;
        -moz-box-shadow: 2px 2px 4px 0px #eee;
        -webkit-box-shadow: 2px 2px 4px 0px #eee;
        -o-box-shadow: 2px 2px 4px 0px #eee;
        box-shadow: 2px 2px 4px 0px #eee;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#eee, Direction=134, Strength=4);
    }

    .display-none-mobile {
        display: none;
    }

    .display-none-pc {
        display: block;
    }

    #navToggle {
        padding: 75px;
    }

    #navToggle a {
        font-size: 22px;
    }

    /* NAVBAR MOBILE */
    .nav-mobile img {
        width: 30px;
    }

    .nav-mobile ul {
        margin-bottom: 0;
        margin-top: 1%;
    }

    .nav-mobile ul li {
        list-style: none;
        display: inline-block;
        margin: 0 5%;
    }

    .nav-mobile a {
        color: #7D7D7D;
        font-size: 16px;
        font-weight: 700;
    }

    .nav-mobile a.active {
        color: #FF9700;
    }

    /* HOME USERS */
    .nav-accueil-one {
        margin: 5% 0;
    }

    .nav-accueil-one .col-12 {
        padding: 0;
    }


    .nav-accueil-one ul {
        margin-bottom: 0!important;
    }

    .nav-accueil-one ul li {
        list-style: none;
        display: inline-block;
        margin-right: 2%;
    }

    .nav-accueil-one a {
        color: #FFFFFF;
        font-size: 22px;
        font-weight: 500;
    }

    .msg-bnv {
        font-size: 26px;
        color: #FFFFFF;
        font-weight: 500;
    }

    .carte-poly {
        width: 40%!important;
    }

    .solde {
        color: #FF9700;
        font-size: 26px;
        font-weight: 700;
        margin: 0;
    }

    .solde-div {
        margin: 2% 0;
    }

    .solde-total {
        font-size: 16px;
        color: #FF9700;
    }

    .dc {
        display: flex;
        justify-content: space-around;
        margin: 3% 0;
    }

    .dc p {
        margin-bottom: 0;
    }

    .card-border {
        border-right: 1px solid #828282;
        height: 35px;
        margin: auto 0;
    }

    .dc-title {
        margin-bottom: 5%;
    }

    .depense-number {
        color: #EB5757;
        font-size: 20px;
        font-weight: 700;
    }

    .cashback-number {
        color: #62AC61;
        font-size: 20px;
        font-weight: 700;
    }

    .cta-row {
        display: flex;
        justify-content: center;
    }

    .cta-a {
        position: absolute;
    }

    .cta-link {
        font-size: 20px;
    }

    .cta-a img {
        width: 2%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /** ALL - GUI **/
    h1 {
        font-weight: 500;
        font-size: 19px;
        color: #FFFFFF;
    }

    p {
        font-size: 18px;
        color: #000000;
    }

    .btn {
        width: 80%;
        margin-top: 6%;
    }


    .logo {
        margin-top: 10%;
    }

    .avatar {
        float: right;
        height: 70%;
        width: auto;
        margin-top: 8%;
    }

    .card-number {
        flex: initial;
        max-width: 60%!important;
        background-color: #FFFFFF;
        border-radius: 3px;
        border: 0.2px solid #e5e5e5;
        margin: 4% auto!important;
        -moz-box-shadow: 2px 2px 4px 0px #eee;
        -webkit-box-shadow: 2px 2px 4px 0px #eee;
        -o-box-shadow: 2px 2px 4px 0px #eee;
        box-shadow: 2px 2px 4px 0px #eee;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#eee, Direction=134, Strength=4);
    }

    .display-none-mobile {
        display: block;
    }

    .display-none-pc {
        display: none!important;
    }

    /* NAVBAR DESKTOP */
    #nav {
        background-color: #FFFFFF;
        border-bottom: 1px solid #C72956;
    }

    #nav .container {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0!important;
    }

    .nav-item {
        margin-left: 30px;
    }

    #navbarsExample09 a {
        color: #7D7D7D;
        font-size: 16px;
        font-weight: 700;
    }

    #navbarsExample09 a.active {
        color: #FF9700;
    }

    #navToggle {
        top: 18px;
        width: 30vw;
    }

    /* HOME USERS */
    .nav-accueil-one {
        margin-top: 10%;
        margin-bottom: 0!important;
    }

    .nav-accueil-one .col-12 {
        padding: 0;
    }

    .nav-accueil-one ul {
        margin-bottom: 0!important;
    }

    .carte-poly {
        width: 70%;
    }

    .solde {
        color: #FF9700;
        font-size: 26px;
        font-weight: 700;
        margin: 0;
    }

    .solde-div {
        margin: 2% 0;
    }

    .solde-total {
        font-size: 16px;
        color: #FF9700;
    }

    .dc {
        display: flex;
        justify-content: space-around;
        margin: 3% 0;
    }

    .dc p {
        margin-bottom: 0;
    }

    .card-border {
        border-right: 1px solid #828282;
        height: 35px;
        margin: auto 0;
    }

    .dc-title {
        margin-bottom: 5%;
    }

    .depense-number {
        color: #EB5757;
        font-size: 20px;
        font-weight: 700;
    }

    .cashback-number {
        color: #62AC61;
        font-size: 20px;
        font-weight: 700;
    }

    .cta-row {
        display: flex;
        justify-content: center;
    }

    .cta-a {
        bottom: 6%;
    }

    .cta-link {
        font-size: 20px;
    }

    .cta-a img {
        width: 1%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
