/** ALL - GUI **/
* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif!important;
}

html {
    overflow: hidden;
}

a {
    text-decoration: none;
}

.btn {
    border: 1px solid #C72956;
    border-radius: 28px;
    padding: 10px 0;
}

.btn-red {
    background-color: #C72956;
    color: #FFFFFF;
}

.btn-red:hover {
    color: #FFFFFF;
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}

.btn-white {
    background-color: #FFFFFF;
    color: #C72956;
}

.btn-white:hover {
    color: #C72956;
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}


.title-co {
    color: #C72956;
    font-weight: 700;
}

.input-co {
    border: none;
    border-bottom: 1px solid #C72956;
    width: 100%;
    margin: 5% 0;
}

.select-co {
    border: none;
    border-bottom: 1px solid #C72956;
}

.bold {
    font-weight: 700;
}

.hidden {
    display: none;
}

.msg-e {
    color: #EB5757;
    font-weight: 700;
}

/** MEDIA QUERIES **/
/* Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) {
    /** ALL - GUI **/
    body {
        background: url("../img/background/background.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        background-position-x: center;
    }

    h1 {
        font-weight: 500;
        font-size: 19px;
        color: #FFFFFF;
    }

    p {
        font-size: 11px;
        color: #000000;
    }

    .display-none-mobile {
        display: none;
    }

    .display-none-pc {
        display: block;
    }

    .btn {
        width: 70%;
        margin-top: 6%;
        font-size: 11px;
    }

    .connexion {
        margin-top: 85%;
    }

    .logo {
        margin-top: 10%;
    }

    .mc {
        text-align: center;
    }

    .mentions-contact {
        position: relative;
        bottom: -45px;
    }

    .mentions {
        font-size: 12px;
        color: #000000;
    }

    .input-co {
        font-size: 14px;
    }

    .select-co {
        font-size: 14px;
    }

    .row-inscription {
        margin-bottom: 2%;
    }

    /* INDEX USERS */
    .slogan {
        margin-top: 5%;
    }

    /* LOGIN USERS */
    .nav-retour {
        display: flex;
        padding-top: 8%;
        padding-bottom: 8%;
    }

    .title-co {
        font-size: 15px;
        padding-top: 2%;
        margin-left: 4%;
    }

    .card-connexion {
        background-color: #FFFFFF!important;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-bottom: 14%;
        border-radius: 9% 9% 0 0;
    }

    /* NEW USERS */
    .card-inscription {
        background-color: #FFFFFF!important;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-bottom: 14%;
        border-radius: 9% 9% 0 0;
    }

    .step {
        margin-bottom: 8%;
    }

    /* ADDIDCARD RIBS */
    #id-card-title {
        font-size: 14px;
        margin: 5% auto;
    }

    #idcard {
        margin: 15% 0;
        width: 100%;
    }

    /* REGLEMENT RIBS */
    .reglement {
        margin-bottom: 0!important;
    }

    .regles {
        text-decoration: underline;
        font-size: 11px;
        color: #000000;
        font-weight: 500;
    }

    /* CARTE RIBS */
    .choix-card {
        margin: 12% 0;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /** ALL - GUI **/
    body {
        background: url("../img/background/background.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }

    .display-none-mobile {
        display: none;
    }

    .display-none-pc {
        display: block;
    }

    .btn {
        width: 40%;
        font-size: 18px;
    }

    .connexion {
        margin-top: 85%;
    }

    .logo {
        width: 15%;
    }

    .mc {
        text-align: center;
    }

    .mentions-contact {
        position: relative;
        bottom: -45px;
    }

    .mentions {
        font-size: 18px
    }

    .input-co {
        font-size: 22px;
    }

    .select-co {
        font-size: 22px;
    }

    .row-inscription {
        margin-bottom: 2%;
    }

    /* INDEX USERS */
    .slogan {
        margin-top: 5%;
    }

    /* LOGIN USERS */
    .nav-retour {
        display: flex;
        padding-top: 8%;
        padding-bottom: 8%;
    }

    .title-co {
        font-size: 22px;
        padding-top: 0!important;
        margin-left: 4%;
    }

    .div-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-connexion {
        margin-left: 0;
    }

    .card-connexion .col-12 {
        padding: 0 30px;
    }

    /* NEW USERS */
    .card-inscription {
        margin-left: 0px;
    }

    .card-inscription .col-center {
        padding: 0 30px;
    }

    .step {
        width: 100%;
    }

    /* ADDIDCARD RIBS */
    #id-card-title {
        font-size: 22px!important;
    }

    #idcard {
        margin: 14% 0;
    }

    /* REGLEMENT RIBS */ .reglement {
        font-size: 18px;
    }

    .regles {
        font-size: 18px;
    }

    /* CARTE RIBS */
    .choix-card {
        margin: 4% 0;
        width: 50%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /** ALL - GUI **/
    body {
        background-position-y: 35%;
        width: 100vw!important;
        height: 100vh!important;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }

    .display-none-pc {
        display: none!important;
    }

    .btn {
        width: 55%;
        font-size: 18px;
        display: block;
    }

    .connexion {
        margin: 0;
    }

    .logo {
        width: 45%;
        margin: 5% 0;
        max-width: 200px;
    }

    .mc {
        text-align: center;
    }

    .mentions-contact {
        position: relative;
    }

    .mentions {
        font-size: 18px
    }

    .input-co {
        font-size: 22px;
    }

    .select-co {
        font-size: 22px;
    }

    .row-inscription {
        margin: 5% 0;
    }

    /* INDEX USERS */
    .desktop {
        height: 100vh;
        display: flex!important;
        justify-content: center;
        align-items: center;
    }

    .cadre {
        background-color: #FFFFFF!important;
        width: 50%;
        margin: auto;
        border-radius: 10px;
    }

    .page-index {
        text-align: center;
    }

    .page-index .btn {
        margin: 5% auto;
    }

    /* LOGIN USERS */
    .form-co {
        width: 85%;
        margin: 0 auto;
    }

    .title-co {
        float: left;
        margin: 8% 0;
    }

    /* NEW USERS */
    .image-b {
        width: 40%;
        overflow: hidden;
    }

    .image-b img {
        width: 100%;
        height: auto;
        min-height: 100vh;
        vertical-align: center;
    }

    .form-i {
        background-color: #FFFFFF;
        width: 60%;
        height: 100%;
        padding: 3%;
    }

    .header-form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .arrow-retour img {
        width: 18px;
    }

    .header-logo {
        margin: 0 auto;
    }

    .div-form {
        padding: 8%;
    }

    .stepper {
        text-align: center;
    }

    .step {
        width: 70%;
    }

    .btn-center {
        margin: 8% auto;
    }

    /* ADDIDCARD RIBS */
    #id-card-title {
        font-size: 22px!important;
    }

    #idcard {
        margin: 14% 0;
    }

    /* REGLEMENT RIBS */
    .reglement {
         font-size: 18px;
    }

    .regles {
        font-size: 18px;
    }

    /* CARTE RIBS */
    .choix-card {
        margin: 4% 0;
        width: 50%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
